services:
  reverse-proxy:
    image: traefik:v3.6
    command: 
      - "--api.insecure=true"
      - "--providers.docker"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.websiteresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.websiteresolver.acme.email=kaldis@kaldisberzins.com"
      - "--certificatesresolvers.websiteresolver.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

    ports:
    # HTTP
      - "80:80"
    # HTTPS
      - "443:443"
    # Traefik Web UI
      - "8080:8080"
    volumes:
      - letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock
  server:
    image: ghcr.io/kaldis-berzins/cv-website:main
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cv-website.rule=Host(`kaldisberzins.com`)"
      - "traefik.http.routers.cv-website.entrypoints=websecure"
      - "traefik.http.routers.cv-website.tls.certresolver=websiteresolver"
volumes:
  letsencrypt: